# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.terraform.*
!.terraform.lock.hcl
*.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*tfplan

# macOS
.DS_Store

# AWS
.aws/
*.pem
*.key
credentials

# Secrets / env
*.env
.env
.env.*
secrets.tfvars
*.auto.tfvars
